* {
  box-sizing: border-box;
}

body {
  color: #222;
}

main {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
  border: 2px solid #ddd;
  border-bottom: #ccc;
  border-radius: 5px;
  background-color: #ddd;
}

button {
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px;
}

form h1 {
  text-align: center;
}
